.user {
	height: 70px;
	width: 150px;
	background: var(--color-white-2);
	color: var(--color-dark);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	position: relative;
	box-shadow: -4px -10px 35px -5px #490d0385 inset, 1px 5px 15px -5px #ffffff7a inset;
	font-family: 'Mountains of Christmas', serif;
  font-size: 1.8em;
}
